
    
    <main class="container">    
        <div class="row">
                <div class="col-sm-6 col-lg-3">Title</div>
                <div class="col-sm-6 col-lg-3">High End</div>
                <div class="col-sm-6 col-lg-3">Low End</div>
                <div class="col-sm-6 col-lg-3">Date Saved</div>
                <div class="col-sm-6 col-lg-3">Delete Record</div>
            </div>
        <% @all_est.each do |est| %>

            <div class="row <%= est['_id'] %>">
                <div class="col-sm-6 col-lg-3"><%= est['title'] %></div>
                <div class="col-sm-6 col-lg-3"><%= est['high_end'] %></div>
                <div class="col-sm-6 col-lg-3"><%= est['low_end'] %></div>
                <div class="col-sm-6 col-lg-3"><%= DateTime.strptime(est['date_saved'],'%s').strftime("%d/%m/%y") %></div>
                <div class="col-sm-6 col-lg-3"><button class="delete btn btn-danger" id="<%= est['_id'] %>">delete</button></div>
            </div>

        <% end %>
        <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= @auth_token %>" />
    </main>
